{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p class="lead">
	Collection of Go tools for Polygon and Ejudge management<br>
	Designed for huge and powerful silverback gorillas
</p>
<p class="lead">
	<a href="https://github.com/Gornak40/algolymp" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Github <i class="bi bi-github"></i></a>
</p>
{% endblock %}

{% block raw_content %}
<!-- <p id="github_markdown" align="left" class="bg-secondary"></p> -->
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!-- <script>
fetch("https://raw.githubusercontent.com/Gornak40/algolymp/master/README.md").then((r) => {
	r.text().then((d) => {
		let markdown_content = d;
		document.getElementById('github_markdown').innerHTML = marked.parse(markdown_content);
	});
});
</script> -->
{% endblock %}
